.icon-container {
  position: absolute;
  position: fixed;
  left: 3rem;
  bottom: 3rem;
}

.dropdown-options {
left: -1rem;
position: relative;
z-index: 10px;
 width: 140px;
 max-height: 200px;
 overflow-y: auto;
 padding: 12px;  
}

.dropdown-options div {
  padding: 4px; 
  cursor: pointer;
}

.dropdown-options div:hover {
  background-color: #ddd;
}
